/* Popup.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal-content {
   
    background: linear-gradient(to bottom right, rgba(233, 190, 71, 1),rgba(127, 33, 214, 1)) ;
    padding: 50px;
    border-radius: 8px;
    max-width: 50%;
    max-height: auto;
    content: normal;
    /* Adjust this value */

    
}

#title{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;    
    text-shadow: 3px 2px 0px whitesmoke;
    text-shadow: 2px 2px 0px #000000;
    color: rgba(255, 255, 255, 0.925);
    text-underline-offset: 6px;

}
#descr{
    text-align: center;
    font-family: monospace;
    font-size: 15px;   
    text-shadow: 3px 2px 0px rgb(146, 137, 137);
    text-shadow: 2px 2px 0px #000000;
    color: rgba(238, 234, 234, 0.925);
    padding-bottom: 50px;

}
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    
}

.movie-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 2px#000000;
}

.movie-item img {
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.movie-details {
    padding: 10px;
    height: auto;
    box-shadow: 2px 2px 2px#000000;
}

.close-button {
    margin-top: 20px;
    background-color: #3645ce;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
   
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

 .stylings{
    max-width: 100%;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 30px;
    padding-top: 30px;
    border-radius: 8px;
    margin-bottom: 3px;
    max-height: auto;
    justify-content: center;
 }