.centered-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.centered-profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}