:root {
    --dark-color: #a3a3a3;
    --light-color: #AFD80C;
}

.mixer-container {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 700px;
}

#darkGroup{
    fill: var(--dark-color);
}

#lightGroup {
    fill: var(--light-color);
 
}
#dark1,#light1{
    transition: all 1s ease;
}

svg:hover #dark1 {
    transform: scale(1.1);
    transition: transform 250ms ease-in;
  
}

svg:hover #light1 {
    transform: scale(1.1);
    transition: transform 250ms ease-out, opacity 250ms ease;
    opacity: 0; 
}



